{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}


<div id="wrapper" style="padding-top: 15px;">
  
      <h1>Agregar equipo</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
      </form>
    

<div id="footer"> &copy; Copyright 2023 by Salvador Inetti | Design by Mamarracho Maker<br /></div>


{% endblock contenidoQueCambia %}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
</head>
<body>
    <h1>Los equpos son:</h1>

    <!-- <p>JUGADORES... <strong>{{nombre}}</strong></p> CTRL + K + C--> 

    <ul>        
        {% for equipo in equipos %}           
           <li>{{equipo.nombre}}</li>
                     
        {% endfor %} 
    </ul>

</body>
</html> {% endcomment %}