{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}


<div id="wrapper" style="padding-top: 15px;">
    <h1>JUGADORESSSSSSSSSSSSSSSS!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
  </div>
    

<div id="footer"> &copy; Copyright 2023 by Salvador Inetti | Design by Mamarracho Maker<br /></div>


{% endblock contenidoQueCambia %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugadores</title>
</head>
<body>
    <h1>Los jugadores son:</h1>

    <!-- <p>JUGADORES... <strong>{{nombre}}</strong></p> CTRL + K + C--> 

    <ul>        
        {% for jugador in jugadores %}           
            {% if jugador.titular %}
                <li style="color: green">{{jugador.nombre}}:es titular</li>
            {% else %}
                <li style="color: red;">{{jugador.nombre}}: es suplente</li>
            {% endif %}             
        {% endfor %} 
    </ul>

</body>
</html> {% endcomment %}