{% extends 'base.html' %}
{% load static %}

{% block contenidoQueCambia %}


<div id="wrapper" style="padding-top: 15px;">
    <h1>repRESENTANTESSSSSSSSSSSSS!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
    <h1>Hello World!</h1>
    <p>This is some sample text.</p>
  </div>
    

<div id="footer"> &copy; Copyright 2023 by Salvador Inetti | Design by Mamarracho Maker<br /></div>


{% endblock contenidoQueCambia %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Managers</title>
</head>
<body>
    <h1>Los representantes son:</h1>

    <ul>        
        {% for manager in managers %}           
            <li>{{manager.nombre}}</li>         
        {% endfor %} 
    </ul>

</body>
</html> {% endcomment %}